<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Client</title>
</head>
<body>
<h1>New client form</h1>
<form action="#" th:action="@{/save}" th:object="${user}" method="post">
    <table border="0" cellpadding="5">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><input type="text" th:field="*{surName}" /></td>
        </tr>
        <tr>
            <td>Account balance:</td>
            <td><input type="text" th:field="*{accountBalance}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save" /> <input type="reset" value="Reset" /></td>
        </tr>
    </table>
</form>
</body>
</html>